* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  font-weight: 400;
}
.top-header {
  display: none;
}
:root {
  --primary-color: #ff553e;
  --secondary-color: #333;
  --white-color: #fff;
  --black-color: #000;
}
html {
  scroll-behavior: smooth;
}
a:hover {
  color: red !important;
}
h1 {
  font-size: 3rem;
  color: var(--white-color);
  text-transform: uppercase;
  position: relative;
  /**********/
}
p {
  font-size: 1rem;
  color: var(--white-color);
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
}
/*********************Basics of making any website********************/
.main-btn {
  height: 40px;
  line-height: 40px;
  font-size: 1.125rem;
  display: inline-block;
  color: var(--white-color);
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 30px;
  position: relative;
  border: none;
}
.main-btn:hover {
  /* background-color: var(--primary-color) !important; */
  color: var(--primary-color);
}
.main-btn::after,
.main-btn::before {
  position: absolute;
  content: " ";
  top: 50%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 1px;
  transition: all 0.5s ease-out 0s;
  /*to make a line in the middle of the btn */
}
.main-btn::after {
  transform: translateY(20px);
  /*to make the after in the bottom of the btn */
}
.main-btn::before {
  transform: translateY(-20px);
  /*to make the before in the top of the btn */
}
.main-btn:hover::before {
  /*when i hover the btn make the before like ...*/
  background-color: var(--primary-color);
  transform: rotateZ(+20deg);
}
.main-btn:hover::after {
  /*when i hover the btn make the after like ...*/
  background-color: var(--primary-color);
  transform: rotateZ(-20deg);
}
/*********************making a custom button**********************************/
.top-header {
  background-color: var(--secondary-color);
}
.navigation-wrap {
  position: fixed;
  width: 100%;
  /*width mudt be 100% all the time*/
  z-index: 99;
  transition: all 0.3s ease-out 0s;
}
.navigation-wrap {
  position: fixed;
  background-color: var(--black-color);
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 0.125rem 0.75rem rgb(0, 0, 0.1);
  transition: all 0.3s ease-out 0s;
}
.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
  /*we focus on the button not the icon*/
}
.nav-link {
  color: var(--white-color);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
}
/***********************Header CSS***********************/
.carousel-caption {
  top: 12rem;
}
.carousel-caption p {
  max-width: 35rem;
  margin: 1.2rem auto;
}
/***********************Home CSS***********************/
#new-arrivals {
  background-color: var(--secondary-color);
}
.decription p {
  max-width: 45rem;
  margin: 1rem auto;
  /*must the margin to have max width */
}
.image-des h3,
.image-des p,
.image-des a {
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
}
.image-des {
  bottom: 30px;
  width: 100%;
  padding: 0 15px;
}
.image-des .special-btn::after,
.image-des .special-btn::before {
  background-color: var(--black-color);
}

.image img {
  transition: all 0.3s ease-in-out 0s;
}
.image img:hover {
  transform: scale(1.3);
  opacity: 0.8;
}
.image {
  overflow: hidden;
}
/***********************new arrivals CSS***********************/
#products {
  background-color: var(--black-color);
  padding-bottom: 5rem;
}
.nav-tabs {
  justify-content: center;
  border: none !important;
}
.nav-tabs .nav-link {
  border: 2px solid var(--white-color);
  border-radius: 20px;
  margin: 1.5rem 1rem;
  padding: auto 1rem;
}
.nav-tabs .nav-link:hover {
  color: var(--primary-color);
}
#jewellery img,
#rings img,
#earnings img {
  transition: all 0.3s ease-in-out 0s;
}
#jewellery img:hover,
#rings img:hover,
#earnings img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
#jewellery .productImage,
#rings .productImage,
#earnings .productImage {
  overflow: hidden;
}
#jewellery .productEmojies .star,
#rings .productEmojies .star,
#earnings .productEmojies .star {
  color: yellow;
}
#jewellery a:hover,
#rings a:hover,
#earnings a:hover {
  color: var(--white-color) !important;
}
#jewellery .productdes .fa-heart:hover,
#rings .productdes .fa-heart:hover,
#earnings .productdes .fa-heart:hover {
  color: var(--primary-color) !important;
}
#jewellery .productTitle:hover,
#rings .productTitle:hover #earnings .productTitle:hover {
  text-decoration: underline !important;
}
/***********************products CSS***********************/
#deal {
  background-color: var(--secondary-color);
}
#deal .deal-image {
  border: var(--white-color) 1px solid;
}
#deal .deal-desc {
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 5rem;
  max-width: 30rem;
  margin: auto;
}
/***********************deal CSS***********************/
#blog {
  background-color: var(--secondary-color);
  padding: 2.5rem 2.5rem;
}
#blog .blog-des {
  padding: 1rem 1rem;
}
#blog img {
  transition: all 0.3s ease-in-out 0s;
}
#blog .blog-content .blog-image {
  overflow: hidden;
}
#blog .blog-content img:hover {
  transform: rotate(360deg) scale(1.5);
  opacity: 0.6;
}
footer {
  background-color: var(--white-color);
}

/***********************blog CSS***********************/
@media (max-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
/*************************************************/
@media (max-width: 991px) {
  p {
    font-size: 0.875rem;
    line-height: 1.3rem;
  }
  .navbar-brand img {
    height: 2.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  .carousel-caption p {
    margin: 7px auto;
  }
  .navigation-wrap {
    background-color: #000;
  }
  .nav-item {
    text-align: center;
    position: relative;
  }
  .nav-item::after {
    position: absolute;
    content: " ";
    height: 1px;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
  }
  .carousel-caption {
    top: 6.9rem;
  }
  .navbar-toggler-icon {
    color: var(--white-color);
  }
  #deal .deal-desc {
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 3rem;
    max-width: 30rem;
    margin: auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  #deal .deal-desc {
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 1rem;
    max-width: 60rem;
    margin: auto;
  }
}
/*************************************************/
@media (max-width: 575px) {
  p {
    font-size: 0.75rem;
    line-height: 1.1rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .carousel-caption {
    top: 6rem;
  }
  .main-btn {
    height: 20px;
    line-height: 20px;
    font-size: 1rem;
  }
  .main-btn::before {
    transform: translateY(15px);
  }
  .main-btn::after {
    transform: translateY(-15px);
  }
  .carousel-caption p {
    margin: 5px auto;
  }
  #deal .deal-desc {
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 1rem;
    max-width: 60rem;
    margin: auto;
  }
}

/***************************Media Query sections************************/
